<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/auth :: head('Iniciar Sesión - Dr. Wilson Montenegro')}"></head>

<body>
    <header th:replace="~{layouts/auth :: header('login')}"></header><br><br><br><br><br><br>
    <main>
        <div class="login-container">
            <h2>Iniciar Sesión</h2>
            <form method="post" th:action="@{/login}"><input type="email" name="email" placeholder="Correo electrónico"
                    required><input type="password" name="password" placeholder="Contraseña" required><button
                    type="submit">Ingresar</button></form>
            <p>¿No tienes cuenta? <a th:href="@{/register}">Regístrate aquí</a></p>
        </div>
    </main>
    <br><br><br><br><br><br>
    <footer th:replace="~{layouts/auth :: footer}"></footer>
</body>

</html>