<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/auth :: head('Registrarse - Dr. Wilson Montenegro')}"></head>

<body>
    <header th:replace="~{layouts/auth :: header('register')}"></header><br><br><br><br><br><br>
    <main>
        <div class="login-container">
            <h2>Registrarse</h2>
            <form method="post" th:action="@{/register}"><input type="text" name="Nombre" placeholder="Nombre"
                    required><input type="text" name="Apellido" placeholder="Apellido" required><input type="email"
                    name="email" placeholder="Correo electrónico" required><input type="tel" name="Telefono"
                    placeholder="Celular" pattern="[0-9]{10}" maxlength="10"
                    title="El número debe tener exactamente 10 dígitos" required><input type="password" name="password"
                    placeholder="Contraseña" required><button type="submit">Registrarse</button></form>
            <p>¿Ya tienes cuenta? <a th:href="@{/login}">Inicia sesión aquí</a></p>
        </div>
    </main>
    <br><br><br><br><br><br>
    <footer th:replace="~{layouts/auth :: footer}"></footer>
</body>

</html>