<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/app :: head('Misión - Dr. Wilson Montenegro', '/css/mision.css')}"></head>

<body>
    <header th:replace="~{layouts/app :: header('mision')}"></header>
    <section class="seccion-mision">
        <div class="mision-box">
            <div class="mision-text">
                <h1>NUESTRA MISIÓN</h1>
                <p>Brindar servicios odontológicos integrales de la más alta calidad, combinando tecnología avanzada,
                    materiales innovadores y un enfoque personalizado para mejorar la salud bucal y la calidad de vida
                    de nuestros pacientes. Nos comprometemos a crear sonrisas saludables en un ambiente profesional,
                    cálido y confiable.</p>
            </div><img th:src="@{/img/mision.webp}" alt="Misión" class="mision-img">
        </div>
    </section>
    <footer th:replace="~{layouts/app :: footer}"></footer>
</body>

</html>