<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head('Inventario')}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div th:replace="~{fragments/footer :: alertas}"></div>

<!-- UN SOLO CONTENEDOR -->
<div class="container py-4" th:with="base='/inventario'">
    <div th:replace="~{inventario/contenido :: contenido(${base})}"></div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/footer :: scripts}"></div>
</body>
</html>




